@using PagedList.Mvc;
@using PagedList

@model IPagedList<AnyReadOnline.BOL.Book>

@{
    ViewBag.Title = "Searching";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}



<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-4 my-5">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Categories
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        @foreach (AnyReadOnline.BOL.Genre item in ViewBag.myGenres)
                                        {
                                            <li><a href="@Url.Action("Details", "Genres", new { id=item.GenreID})">@item.GenreName</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Author
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        @foreach (AnyReadOnline.BOL.Author item in ViewBag.myAuthors)
                                        {
                                            <li><a href="@Url.Action("Details", "Authors", new { id=item.AuthorID})">@string.Format(item.FirstName + " " + item.LastName)</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Language
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        @foreach (AnyReadOnline.BOL.Language item in ViewBag.myLanguages)
                                        {
                                            <li><a href="@Url.Action("Details", "Languages", new { id=item.LanguageID})">@item.LanguageName</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 my-5">
                    <div class="row">
                        <div class="col d-flex">
                            <p class="my-auto">Select 3 out of @ViewBag.booksCount</p>
                        </div>
                        <div class="col text-right">
                            <p class="text-">Select Sorting:</p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-8">
                            
                        </div>
                        <div class="col-4">
                            <div class="dropdown d-flex justify-content-end">
                                @*<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sorting Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Sort by Latest</a>
            <a class="dropdown-item" href="#">Sort by Alphabet</a>
            <a class="dropdown-item" href="#">Sort by Price</a>
        </div>*@
                                @using (Html.BeginForm("Searching", "Home", FormMethod.Post))
                                {
                                    @Html.DropDownList("SortDropdown", new List<SelectListItem>
                                    {
                                        new SelectListItem{ Text="Sort by Latest", Value = "Sort by Latest" },
                                        new SelectListItem{ Text="Sort by Alphabet", Value = "Sort by Alphabet" },
                                        new SelectListItem{ Text="Sort by Price", Value = "Sort by Price" }
                                    }, "Select Sorting")
                                }
                                </div>
                        </div>
                    </div>

                    <hr />

                    <table id="searchTable">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <div class="row p-3">
                                        <div class="col-3">
                                            <img src="@Url.Content(item.ImagePath)" class="search-image-size" />
                                        </div>
                                        <div class="col-7">
                                            <h4><a href="@Url.Action("Details", "Books", new { id=item.BookID })" class="black-text text-decoration-none">@item.Title</a></h4>
                                            <p class="text-muted font-weight-bold">@string.Format(item.Author.FirstName + " " + item.Author.LastName)</p>
                                            <p>@item.Description</p>
                                            <h4 class="text-danger">€@item.Price</h4>
                                        </div>
                                        <div class="col-2">
                                            <div class="search-cart-btn-height d-flex align-items-center">
                                                <a href="#" class="orange-text bigger-text-1"><i class="fas fa-shopping-bag"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.PagedListPager(Model, page => Url.Action("Searching", new { page, text = Request.QueryString["text"] }))

                    @*<div class="row p-3">
                            <div class="pagination-container">
                            <ul class="pagination"></ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
</main>

@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script>
        var table = '#searchTable'
        $('#maxRows').on('change', function () {
            $('.pagination').html()
            var trnum = 0
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + 'tbody tr').length
            $(table + 'tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows)
                for (var i = 1; i < pagenum;) {
                    $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\<li>').show()
                }
            }
            $('.pagination li:first-child').addClass('active')
            $('.pagination li').on('click', function () {
                var pageNum = $(this).attr('data-page')
                var trIndex = 0
                $('.pagination li').removeClass('active')
                $(this).addClass('active')
                $(table + 'tr:gt(0)').each(function () {
                    trIndex++
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide()
                    } else {
                        $(this).show()
                    }
                })
            })
        })
    </script>*@

