@model AnyReadOnline.BOL.Genre

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h4>Delete This Genre</h4>
<br />
<br />
<div class="text-danger">
    <h3 style="font-weight:bold;">Are you sure you want to delete <br />"@Html.DisplayFor(model => model.GenreName)"?</h3>
</div>
<br />
<div class="row" style="font-weight:bold;">
    <div class="col-2">
        Genre ID:  <br />
        Genre Name:<br />
        Inserted By ID:<br />
    </div>
    <div class="col">
        @Html.DisplayFor(model => model.GenreID)<br />
        @Html.DisplayFor(model => model.GenreName)<br />
        1<br />
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-danger mx-3 lx-5" value="Delete Genre" onclick="location.href='@Url.Action("Delete","Genres")'" />
        <div style="margin:20px;">
            <p>Once the Genre is deleted, recovery is not possible.</p>
            <br />
            <div style="font-weight:bold">
                @Html.ActionLink("Go to Genre List", "Index")
            </div>
        </div>
    }
</div>
