@model IEnumerable<AnyReadOnline.BOL.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myTable" class="display" border="1">
    <thead>
        <tr style="background-color:tomato">
            <th>
                @Html.DisplayNameFor(model => model.InsBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InsBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td

                    @Html.ActionLink("Edit", "Edit", new { id = item.GenreID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GenreID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GenreID })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

