@model IEnumerable<AnyReadOnline.BOL.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <br /><br />
    <h2>List of Genres</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="genreTable" class="display" border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.UpdBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdNo)
                </th>*@

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreName)
                    </td>
                    <td>
                        @string.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.InsDate).ToString()))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsDate)
                    </td>
                   @* <td>
                        @string.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.UpdDate).ToString()))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdNo)
                    </td>*@
                    <td>
                        <input type="button" class="btn btn-secondary mx-3 lx-5" @* title="..."*@ value="Edit" onclick="location.href='@Url.Action("Edit"@*, "Genres"*@, new { id = item.GenreID })'" />
                        <!--<input type="button" class="btn btn-secondary mx-3 lx-5"--> @* title="..."*@ <!--value="Details" onclick="location.href='@Url.Action("Details"-->@*, "Genres"*@<!--, new { id = item.GenreID })'" />-->
                        <input type="button" class="btn btn-danger mx-3 lx-5" @* title="..."*@ value="Delete" onclick="location.href='@Url.Action("Delete"@*, "Genres"*@, new { id = item.GenreID })'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#genreTable').DataTable();
            });
        </script>
    }

