@model AnyReadOnline.BOL.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>AdminCreateBookPage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body style="background-color: #eeeeee; font-weight:bold;">
    <div class="container">
        <br><p style="font-size: large;">Add New Book</p><br>
        
        @using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!--Table-->
            <div class="table">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!--Row-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Title">Book Title</label>
                            <input type="text" class="form-control input-sm" name="Title" id="title" placeholder="">
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <!--Row-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Description">Book Description</label>
                            <textarea class="form-control" name="Description" id="description"></textarea>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <!--Row-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Author">Author</label>
                            <select class="form-control" name="Author.AuthorID">
                                @foreach (AnyReadOnline.BOL.Author item in ViewBag.Authors)
                                {
                                    <option value="@item.AuthorID">@string.Format(item.FirstName + " " + item.LastName)</option>
                                }
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="Genre">Genre</label>
                            <select class="form-control" name="Genre.GenreID">
                                @foreach (AnyReadOnline.BOL.Genre item in ViewBag.Genres)
                                {
                                    <option value="@item.GenreID">@item.GenreName</option>
                                }
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="PublishPlace">Publish Place</label>
                            <input type="text" class="form-control" name="PublishHouse" id="publishPlace" placeholder="">
                            @Html.ValidationMessageFor(model => model.PublishPlace, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label for="Quantity">Quantity</label>
                            <input type="text" class="form-control" name="Quantity" id="quantity" placeholder="">
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label for="ISBN">ISBN</label>
                            <input type="text" class="form-control" name="ISBN" id="isbn" placeholder="">
                            @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-group">
                            <label for="Language">Language</label>
                            <select class="form-control" name="Language.LanguageID">
                                @foreach (AnyReadOnline.BOL.Language item in ViewBag.Languages)
                                {
                                    <option value="@item.LanguageID">@item.LanguageName</option>
                                }
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="PublishHouse">PublishHouse</label>
                            <select class="form-control" name="PublishHouse.PublishHouseID">
                                @foreach (AnyReadOnline.BOL.PublishHouse item in ViewBag.PublishHouses)
                                {
                                    <option value="@item.PublishHouseID">@item.PublishHouseName</option>
                                }
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="PublishYear">Publish Year</label>
                            <input type="text" class="form-control" name="PublishYear" id="publishYear" placeholder="">
                            @Html.ValidationMessageFor(model => model.PublishYear, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label for="PageNumber">Number of Pages</label>
                            <input type="text" class="form-control" name="PageNumber" id="numberOfPages" placeholder="">
                            @Html.ValidationMessageFor(model => model.PageNumber, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input type="text" class="form-control" name="Price" id="price" placeholder="">
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <!--Row-->
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Weight">Weight</label>
                            <input type="text" class="form-control input-sm" name="Weight" id="weight" placeholder="">
                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label for="Length">Length</label>
                            <input type="text" class="form-control input-sm" name="Length" id="length" placeholder="">
                            @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Width">Width</label>
                            <input type="text" class="form-control input-sm" name="Width" id="width" placeholder="">
                            @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label for="Height">Height</label>
                            <input type="text" class="form-control input-sm" name="Height" id="height" placeholder="">
                            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <br />
                <!--Row-->
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Upload Book Cover</label>
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Publish Book" class="btn btn-primary btn-lg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>

                    <div class="col-2">

                    </div>
                </div>
            </div>
        }
    </div>
</body>


    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

    <!-- JS includes -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>*@

    @section scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

        <script>
        $(function () {
            $(".datepicker").datepicker({
                //dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                //yearChange: -10:+10,
                //minDate: new Date(1000, 1, 1),
                //maxDate: new Date(2030, 1, 1),
                //showOn: "both",
                autoClose: true,
                showOn: "button",
                buttonImage: '@Url.Content("http://jqueryui.com/resources/demos/datepicker/images/calendar.gif")',
			    buttonImageOnly: true,
                buttonText: "Select date",
                beforeShow: function () {
                    $(".ui-datepicker").css('text', 50)
                }
            });
        });
        </script>
    }
