@model AnyReadOnline.BOL.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<head>
    <title>DeleteBookPage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style="background-color: #eeeeee;">
    <br />
    <div class="row">
        <div class="col-10">
            <br><h4 style="font-size: large;">Delete This Book</h4><br>
        </div>

        <div class="col-2">
            <div style="color:darkgray">
                <br />Book ID Number: <br /> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Model.BookID<br />
            </div>
        </div>
    </div>
    <br />
    <div class="text-danger">
        <h3 style="font-weight:bold;">Are you sure you want to delete <br />"@Html.DisplayFor(model => model.Title)"?</h3>
    </div>
    <br /><br />

    <div class="row">
        <div class="col-4">
            <img @*class="d-block"*@ width="315" height="440" src="@Url.Content(Model.ImagePath)" alt="Error ..">
        </div>
        <div class="col-6">
            @*<h4>@Model.ViewBag.MyAuthor.LastName @Model.ViewBag.MyAuthor.LastName</h4><br />*@
            
            <p>@Model.Description</p><br /><br />

            <div style="font-weight:bold;">
                <div class="row">
                    <div class="col-2">
                        @Html.DisplayNameFor(model => model.Width)<br />
                        @Html.DisplayNameFor(model => model.Weight)<br />
                        @Html.DisplayNameFor(model => model.Length)<br />
                        @Html.DisplayNameFor(model => model.Height)<br />
                        <br />
                        Language<br />
                        Genre<br />
                        @Html.DisplayNameFor(model => model.PublishYear)<br />
                        @Html.DisplayNameFor(model => model.Quantity)<br />
                        @Html.DisplayNameFor(model => model.PageNumber)<br />
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Width)<br />
                        @Html.DisplayFor(model => model.Weight)<br />
                        @Html.DisplayFor(model => model.Length)<br />
                        @Html.DisplayFor(model => model.Height)<br />
                        <br />
                        @Html.DisplayFor(model => model.Language.LanguageName)<br />
                        @Html.DisplayFor(model => model.Genre.GenreName)<br />
                        @Html.DisplayFor(model => model.PublishYear)<br />
                        @Html.DisplayFor(model => model.Quantity)<br />
                        @Html.DisplayFor(model => model.PageNumber)<br />
                    </div>
                </div>
             </div>
        </div>
        <div class="col-2">

        </div>
    </div>
     <br /><br />
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        @* <input type="submit" value="Delete" class="btn btn-default" /> |*@
        <input type="submit" class="btn btn-danger mx-3 lx-5" value="Delete Book" onclick="location.href='@Url.Action("Delete","Books")'" />
        <div style="margin:20px;">
            <p>Once the Book is deleted, recovery is not possible.</p>
            <br />
            <div style="font-weight: bold;">
                @Html.ActionLink("Go to Book List", "Index")
            </div>
        </div>
        }
    </div>
</body>
