@model AnyReadOnline.BOL.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container my-5" style="height:75vh;">
    <div class="row mt-5">
        <div class="col mt-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" width="315" height="440" src="@Model.ImagePath" alt="First slide">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col mt-5 text-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col ProductTitle">
                        <h1>
                            @Model.Title
                        </h1>


                        <p>By (author)  @Model.Author.FirstName @Model.Author.LastName</p>


                        <br />
                        <h4 class="price mt-3">Price: EUR 	&euro;@Model.Price </h4>


                        <p>Dimension: @Model.Height x @Model.Width x @Model.Length mm | @Model.Weight g</p>
                        <br />

                        <p><b>Publish House: @Model.PublishHouse.PublishHouseName</b></p>


                        <p class="mt-2">@Model.Description</p>

                    </div>

                </div>


                <div class="row justify-content-end">

                    <div class="col btnContainer mt-5">

                        <div class=" ProductDetailsBtn d-flex">
                            <button class="minusBtn m-1 btn-dark" style="width:2.8em; height:2.5em;">-</button>
                            <button class="mainBtn m-1 btn-dark" style="width:2.8em; height:2.5em;">1</button>
                            <button class="plusBtn m-1 btn-dark" style="width:2.8em; height:2.5em;">+</button>
                        </div>
                    </div>

                    <div class="col mt-5">
                        <button class="minusBtn text-light m-1 btn-dark" style="width:15em; height:2.5em;">ADD TO CART</button>

                    </div>
                </div>


                <script>
                    let btn = document.querySelector('.mainBtn');
                    let mbtn = document.querySelector('.minusBtn');
                    let pbtn = document.querySelector('.plusBtn');

                    btn.addEventListener("click", () => {

                            btn.innerText = 1;
                        pbtn.style.display = 'inline-block'
                        mbtn.style.display = 'inline-block'

                    })

                    mbtn.addEventListener("click", () => {


                        if (btn.innerText < 2) {
                            mbtn.style.display = 'none'
                        }
                        else {
                            btn.innerText = btn.innerText - 1;
                        }

                      
                    })


                    pbtn.addEventListener("click", () => {



                        btn.innerText = +(btn.innerText) + +1;


                        if (btn.innerText > 1) {
                            mbtn.style.display = 'inline-block'
                        }

                        if (btn.innerText == @Model.Quantity) {
                            pbtn.style.display = 'none';
                        }


                    


                    })
                </script>


            </div>



        </div>
    </div>
</div>
