@model AnyReadOnline.BOL.Language

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h4>Delete This Language</h4>
<br /><br />
<div class="text-danger">
    <h3 style="font-weight:bold;">Are you sure you want to delete <br />"@Html.DisplayFor(model => model.LanguageName)"?</h3>
</div><br />
      <div class="row" style="font-weight:bold;">
          <div class="col-2">
              Language ID:  <br />
              Language Name:<br />
              Inserted By ID:<br />
          </div>
          <div class="col">
              @Html.DisplayFor(model => model.LanguageID)<br />
              @Html.DisplayFor(model => model.LanguageName)<br />
              1<br />
          </div>
      </div>
    <br />
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-danger mx-3 lx-5" value="Delete Language" onclick="location.href='@Url.Action("Delete","Languages")'" />
            <div style="margin:20px;">
                <p>Once the Language is deleted, recovery is not possible.</p>
                <br />
                <div style="font-weight:bold">
                    @Html.ActionLink("Go to Language List", "Index")
                </div>
            </div>
        }
    </div>


