@model AnyReadOnline.BOL.Language

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h4>Delete This Language</h4>
<br /><br />
<div class="text-danger">
    <h3 style="font-weight:bold;">Are you sure you want to delete "@Html.DisplayFor(model => model.LanguageName)"?</h3>
</div><br />
            <div>
                <table>

                </table>
                <dl>
                    <dt>
                        Language ID:        @Html.DisplayFor(model => model.LanguageID)
                    </dt>
                    <dt>
                        Language Name:      @Html.DisplayFor(model => model.LanguageName)
                    </dt>
                    <dt>
                        Inserted By ID:     1
                    </dt>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-danger mx-3 lx-5" value="Delete Language" onclick="location.href='@Url.Action("Delete","Languages")'" />
                    <br /> <br />
                    <p>Once the Language is delted, recovery is not possible.</p>
                    <br />
                    <div style="font-weight:bold">
                        @Html.ActionLink("Go to Language List", "Index")
                    </div>
                }
            </div>
