@model AnyReadOnline.BOL.Address

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-danger my-5">Are your sure you want to delete <br> this Address?</h2>
                    <table class="table my-5 table-bordered table-hover">
                        <thead class="bg-danger white-text">
                            <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Address1)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Address2)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Country.CountryName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PostalCode)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Address1)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Address2)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Country.CountryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.PostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @using (Html.BeginForm("Delete", "Addresses", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="my-5">
                            <p>Once the address is deleted, it can not be recovered!</p>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                        @Html.ActionLink("Back to List", "Index")
                    }
                </div>
            </div>
        </div>
    </section>
</main>
