@model AnyReadOnline.BOL.Author
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<head>
    <title>DeleteAuthorPage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style="background-color: #eeeeee;">
    <br />
    <div class="row">
        <div class="col-10">
            <br><h2>Delete This Author</h2><br>
        </div>

        <div class="col-2">
            <div style="color:darkgray">
                <br />Author ID Number: <br /> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Model.AuthorID<br />
            </div>
        </div>
    </div>
    <br />

    <div class="row" style="margin:10px;">
        <h4>@Model.FirstName @Model.LastName</h4><br /><br />
    </div>
    <div class="row">
        <div class="col-3">
            <img @*class="d-block"*@ width="250" height="250" src="@Url.Content(Model.ImagePath)" alt="Error ..">
        </div>
        <div class="col-9">
        </div>
    </div>
    <br /><br />
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @* <input type="submit" value="Delete" class="btn btn-default" /> |*@
            <input type="submit" class="btn btn-danger mx-3 lx-5" value="Delete Book" onclick="location.href='@Url.Action("Delete","Authors")'" />
            <div style="margin:20px;">
                <p>Once the Author is deleted, recovery is not possible.</p>
                <br />
                <div style="font-weight: bold;">
                    @Html.ActionLink("Go to Author List", "Index")
                </div>
            </div>
        }
    </div>
</body>
