@model AnyReadOnline.BOL.Staff
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container-fluid" style=" background-color: #eeeeee; font-weight:bold;">
    <br>
    <p style="font-size: large;">Add New Book</p><br>
    @using (Html.BeginForm("Register", "Admins", FormMethod.Post))
    {
        <div class="table">







            <div class="row">
                <div class="col">


                    <div class="form-group">
                        <label for="PublishPlace">Username</label>
                        <input type="text" class="form-control" name="UserName" value="@Model.UserName" id="publishPlace" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input class="form-control" placeholder="" name="Password" type="text" value="@Model.Password" />
                    </div>
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input class="form-control" placeholder="" name="FirstName" type="text" value="@Model.FirstName" />
                    </div>
                    <div class="form-group">
                        <label for="Country">Country</label>
                        <br />
                        @Html.DropDownListFor(model => model.CountryID, (IEnumerable<SelectListItem>)ViewBag.Countries, "Country", new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="City">City</label>
                        <input class="form-control" placeholder="" name="City" type="text" value="@Model.City" />
                    </div>

                    <div class="form-group">
                        <label for="Role">Role</label>
                        @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewBag.roles, new { @class = "form-control" })

                    </div>

                    <div class="form-group " style="margin-top:20px;">
                        <button type="submit" class="btn btn-primary btn-lg">Publish Book</button>
                    </div>

                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" placeholder="" name="Email" type="text" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Confirm Password</label>
                        <input class="form-control" placeholder="" name="ConfirmPassword" type="text" value="@Model.ConfirmPassword" />
                    </div>
                    <div class="form-group">
                        <label for="LastName">LastName</label>
                        <input class="form-control" placeholder="" name="LastName" type="text" value="@Model.LastName" />
                    </div>
                    <div class="form-group">
                        <label for="NumberOfPages">Address</label>
                        <input type="text" class="form-control" name="Address" value="@Model.Address" id="numberOfPages" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Price">Postal Code</label>
                        <input type="text" class="form-control" name="PostalCode" value="@Model.PostalCode" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Price">Phone number</label>
                        <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" id="price" placeholder="">
                    </div>

                    <br>
                </div>

            </div>

        </div>
    }


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
